<%= form_for([@trip, @trip.cars.build]) do |f| %>
  <p>
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :capacity %><br>
    <%= f.number_field :capacity %>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>