<%= form_for([@trip, @trip.expenses.build]) do |f| %>
  <span>
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </span>
  <span>
    <%= f.label :cost %><br>
    <%= f.text_field :cost %>
  </span>
  <span>
    <%= f.submit %>
  </span>
<% end %>
