<div>
  <span>
    <strong>Email:</strong>
    <%= member.email %>
  </span>

  <span>
    <strong>Status:</strong>
    <%= member.status %>
  </span>

  <span>
    <% if member.user_id? %>
      <%= link_to 'Profile', user_path(:id => member.user_id) %>
    <% end %>

    <%= link_to 'Respond', member_respond_path(member.trip, member) %>
    <%= link_to 'Delete', [member.trip, member],
                method: :delete,
                data: { confirm: 'Are you sure?' } %>
  </span>
</div>